@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
body {
    margin: 0;
    /* background: rgb(0, 199, 139) url('bg.png') no-repeat center center; */
    background-size: cover;
    min-height: 100vh;
}

* {
    cursor: url("https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/32/000000/external-bird-tropical-vitaliy-gorbachev-blue-vitaly-gorbachev.png"), default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background: rgb(209, 255, 255);
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background: pink;
}

.app {
    position: relative;
    min-height: 100vh;
}

#pageLoader {
    background: cyan url('page-loader-fish.gif') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.socLinks:hover {
    transform: scale(1.2)
}

footer h2 {
    font-weight: 800;
    color: rgb(0, 129, 250)
}

.contactName {
    color: rgb(44, 44, 44)
}

#main {
    width: 80%;
    height: 80%;
    min-height: 300px;
    background: #e0e0e0 url("recentWorksBG.png") no-repeat center center;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 30px;
    position: relative;
    top: 90px;
    z-index: 1;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    box-shadow: 21px 21px 38px #21a572, -21px -21px 38px #21a572;
}

#main>b {
    margin-top: 20px;
}

#main>div {
    margin: auto;
    width: 90%;
    color: rgb(73, 72, 74);
    padding: 40px;
}

#mainDiv {
    background: rgb(0, 199, 139) url('bg.png') no-repeat center center;
    background-size: cover;
    position: relative;
    height: 95vh;
    min-height: 550px;
    max-height: 675px;
    z-index: 1;
}

.prakruti {
    font-family: 'Finger Paint', cursive;
    font-size: 95px;
    background: -webkit-linear-gradient(rgb(3, 156, 79), rgba(82, 238, 243, 0.486), rgb(0, 133, 221));
    letter-spacing: 15px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100vw;
    background-image: linear-gradient(to right, white, rgb(215, 253, 240));
    height: 60px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item .fas {
    margin: 0px 10px;
    font-size: 30px;
}

.line {
    height: 4px;
    width: 100%;
    background-color: black;
}

#birdsFooter {
    width: 100vw;
    height: 5vh;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.birds {
    height: 100%;
    background: rgba(197, 243, 229, 0) url('birds2.gif');
    background-size: contain;
    background-repeat: repeat;
}

#contactsIcon {
    position: absolute;
    top: 100px;
    left: 15px;
    z-index: 3;
}

#navbarIcon {
    position: absolute;
    transform: translate(0, -5rem);
}

.chevron {
    color: white
}

.chevron:hover {
    color: rgb(216, 216, 216);
}

.chevron-up {
    margin: 20px;
    font-size: 3rem;
    color: white;
    position: relative;
    z-index: 1;
}

.aboutClub {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 13px;
    font-size: 18px;
    background: pink;
    box-shadow: 21px 21px 38px #bcbcbc, -21px -21px 38px #ffffff;
    padding: 40px;
    color: black;
}

#recentWorks {
    background: pink url('recentWorksBG.png') no-repeat center;
    background-size: cover;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
    position: relative;
    top: 90px,
}

#recentWorks>h1 {
    color: white;
    font-size: 3rem;
}

#recentWorks>div {
    margin: auto;
    width: 70vw;
    min-width: 300px;
}

#membersPage {
    background: transparent url('membersBG.png') no-repeat center center;
    background-size: cover;
    min-height: 90vh;
    padding: 30px;
    margin-top: 60px
}

#membersPage>h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
    text-shadow: 3px 3px 3px darkgreen;
}

#allMembers>div {
    display: 'flex';
    justify-content: center;
    align-items: center
}

.memCard {
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow: 20px 20px 24px #60b37f, -20px -20px 24px #6cc58c;
    width: fit-content;
    max-width: 250px;
    height: 350px;
    padding: 20px;
    background-image: linear-gradient(rgb(245, 100, 100), rgb(252, 161, 161));
    margin: 20px;
    /* width: 22%; */
    /* float: left; */
}

.memberRoll {
    margin: 5px;
    text-align: center;
    font-size: 19px;
}

.memberContact {
    text-align: center;
    font-size: 18px;
}

.imgMember {
    margin: 10px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.memberName {
    font-size: 19px;
    text-align: center;
    margin: 5px;
    color: white;
    text-shadow: 2px 2px 2px rgb(119, 83, 83);
}

.memberHandles {
    display: none;
    opacity: 0;
}

.memCard:hover .memberHandles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition-duration: 5s;
    transition-delay: 2s;
    opacity: 1;
    transition: all 0.6s ease;
    animation: fadeInAnimation ease-in-out 0.6s;
}

.memCard:hover .memberRoll {
    display: none;
    animation: fadeInAnimation2 ease-in-out 0.6s;
}

.icon {
    color: white;
}

.icon:hover {
    cursor: pointer;
}

#contacts {
    position: relative;
    background: rgb(248, 249, 250);
    padding: 30px 50px;
}

#contactStyle {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translate(0, -35px);
    }
    50% {
        opacity: 0.5;
        transform: translate(0, 5px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes fadeInAnimation2 {
    0% {
        opacity: 1;
        transform: translate(0, 0px);
    }
    100% {
        opacity: 0;
        transform: translate(0, -20px);
    }
}


/* Media query */

@media only screen and (max-width:800px) {
    footer {
        font-size: 1rem;
        word-wrap: break-word;
    }
    footer>div {
        flex-direction: column;
    }
    footer>div>div {
        margin-bottom: 35px;
    }
    footer>p {
        text-align: left;
    }
    #recentWorks>h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:950px) {
    .prakruti {
        font-size: 3rem;
    }
}

@media only screen and (max-width:753px) {
    #main,
    .aboutClub {
        font-size: 18px;
    }
}

@media only screen and (max-width:670px) {
    .prakruti {
        font-size: 2rem;
    }
    .chevron {
        font-size: 2.5rem;
    }
    #main {
        max-height: 440px;
    }
}

@media only screen and (max-width:469px) {
    .prakruti {
        font-size: 1.3rem;
    }
    .chevron {
        font-size: 2rem;
    }
    #main {
        width: 90%;
        background-size: 120% 100%;
    }
    #main>p {
        padding: 0;
        padding-top: 30px;
    }
    #mainDiv {
        height: 80vh;
    }
    #contactsIcon {
        left: 2px;
    }
    .aboutClub {
        padding: 20px;
    }
    #membersPage>h1 {
        font-size: 3.5rem;
    }
    .nav-item .fas {
        margin: 0px 2px;
        font-size: 20px;
    }
}

@media only screen and (max-width:600px) {
    #main {
        font-size: 15px;
    }
    #recentWorks>h1 {
        font-size: 2rem;
    }
}